<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>电商价格监测平台</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/static/index/css/templatemo_main.css">
    <script type="text/javascript" src="/static/index/js/common.js"></script>
    <script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
</head>
<body>
    #parse("/WEB-INF/decorators/frame/heads.vm")
    #parse("/WEB-INF/decorators/frame/navleft.vm")
<div id="main-wrapper">
    <div class="main" style="">
        <div class="comment" style="">
            $body
        </div>
    </div>
    #parse("/WEB-INF/decorators/frame/bottom.vm")
</body>
</html>