<div class="userNav" onclick="show_scenic(event)" style="float: right;">
    <div class="login">
        <img src="/static/index/images/login.png" onclick="loginOut()">
    </div>


    <div class="userInfo">
        <span style="display: inline-block;padding: 0;margin: 0;margin-left: 23px;">您好，admin</span>
        <img src="/static/index/images/bottom_arrow.png" style="cursor: pointer" onclick="userInfo()">
    </div>


    <div class="moreInfo" style="cursor: pointer" onclick="moreInfo()">
        <img src="/static/index/images/menu.png">
    </div>
    <div class="menu menus" style="">
        <a href="http://charts.inter3i.com" target="_blank" style=""><span
                style="display: inline-block;text-align: center;width: 42px;height: 42px;"><img
                src="/static/index/images/travel.png"></span><span>旅游监测</span></a>
        <a href="http://wxpta.inter3i.com/analysis/projects" target="_blank" style="border-bottom: 0;"><img
                src="/static/index/images/opinion.png"><span>微信H5传播轨迹</span></a>
    </div>
    <div class="userinfo userinfos" style="">
        <a href="" style=""><img
                src="/static/index/images/basic_data.png" style="width: 18px;"><span
                style="display: inline-block;margin-left: 10px;"> 基本资料</span></a>
        <a href="javascript:" style=""><img src="/static/index/images/my_order.png"><span
                style="display: inline-block;margin-left: 10px;">我的订单</span></a>
        <a href="javascript:" style="border-bottom: 0;"><img
                src="/static/index/images/my_amount.png"><span
                style="display: inline-block;margin-left: 10px;">我的金额</span></a>
    </div>
</div>
