<div class="leftNav">
    <div class="logo">
        <img src="/static/index/images/logo.png" alt="" style="margin-top: 20px;cursor: pointer;"
             onclick="window.location.href='/'">
        <span style="border-bottom: 1px solid #3B3B43;width: 70%;display: block;margin: 20px 0;margin-left: 15%;">
        </span>
        <span style="margin-bottom: 20px;">价格监测平台</span>
    </div>
    <div class="navBar">
        <ul>
            <li><img src="/static/index/images/industry_list.png" class="left_img"><a href="">行业榜单</a> <img
                    src="/static/index/images/right_arrow.png" class="right_arrow">
            </li>
            <li><img src="/static/index/images/realtime_report.png" class="left_img"><a href="">实时报告</a><img
                    src="/static/index/images/right_arrow.png" class="right_arrow">
            </li>
            <li><img src="/static/index/images/task_config.png" class="left_img"><a href="">任务配置</a><img
                    src="/static/index/images/right_arrow.png" class="right_arrow">
            </li>
        </ul>
    </div>
</div>