<html>  
<body>  
	
	#parse("/header.vm")

	welcome ${user.name}  to velocity!
	<p>性别：
		#if($user.gender == 1)
			男
		#elseif($user.gender == 0)
			女
		#else 
			保密
		#end
	 </p>
	#include("/footer.vm")
	
</body>  
</html>